* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/home-bg.webp") center;
  background-size: cover; }
  .home-name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff; }
    .home-name-last {
      color: #ff652f;
      font-weight: 700; }

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .menu-btn-burger {
    position: absolute;
    right: 0;
    top: .5rem;
    width: 28px;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s ease-in-out; }
    .menu-btn-burger::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background-color: #fff;
      transition: all 0.5s ease-in-out; }
    .menu-btn-burger::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transition: all 0.5s ease-in-out; }
    .menu-btn-burger.open {
      transform: rotate(720deg);
      background: transparent; }
      .menu-btn-burger.open::before {
        transform: rotate(45deg) translate(5px, 8px); }
      .menu-btn-burger.open::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: .98;
  visibility: hidden; }
  .nav.open {
    visibility: visible; }
  .nav .menu-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #272727;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out; }
    .nav .menu-nav.open {
      transform: translateY(0); }
    .nav .menu-nav-item {
      transform: translateX(100vw);
      transition: all 0.5s ease-in-out; }
      .nav .menu-nav-item.open {
        transform: translateX(0); }
      .nav .menu-nav-item.active > a {
        color: #ff652f; }
    .nav .menu-nav-link {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 300;
      transition: all 0.5s ease-in-out; }
      .nav .menu-nav-link:hover {
        color: #ff652f; }

.menu-nav-item:nth-child(1) {
  transition-delay: 0.25s; }

.menu-nav-item:nth-child(2) {
  transition-delay: 0.35s; }

.menu-nav-item:nth-child(3) {
  transition-delay: 0.45s; }

.menu-nav-item:nth-child(4) {
  transition-delay: 0.55s; }

.about {
  padding-bottom: 2rem; }
  .about-park-img {
    height: 50ch;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.5)), url("../img/about-park-img.webp") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .about-park-img p {
      margin-bottom: 2rem; }
  .about-bio {
    width: 90%;
    text-align: center; }
    .about-bio .text-secondary {
      padding-bottom: 1rem; }
  .about .park {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    .about .park-card {
      background: #414141;
      padding: .5rem;
      border-bottom: 5px solid #ff652f; }
      .about .park-card h2, .about .park-card h3 {
        margin: .5rem 0; }
      .about .park-card h6 {
        margin: .3rem 0; }
  .about .icons {
    display: flex;
    flex-direction: column; }

footer {
  transform: rotate(90deg) translate(-3rem, -5rem); }

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1; }

h1, h2, h3 {
  font-weight: 400; }

a {
  color: #fff;
  text-decoration: none; }

.text-secondary {
  color: #ff652f; }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem; }

main {
  height: 100%;
  width: 100%; }
  main .icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem; }
    main .icons a {
      padding: .4rem;
      transition: all 0.5s ease-in-out; }
      main .icons a:hover {
        color: #ff652f; }

footer {
  font-size: 1rem;
  position: fixed;
  bottom: .4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
